<div>
  <h2>User Information</h2>
  <label for="userId">User ID:</label>
  <input type="number" id="userId" [(ngModel)]="userId" required />
  <button (click)="getUserInfo()">Get User Info</button>

  <div *ngIf="userInfo" class="user-info-container">
    <h3>Name: {{ userInfo.name }}</h3>
    <h3>Surname: {{ userInfo.surname }}</h3>

    <div *ngFor="let account of userInfo.accounts" class="account-info">
      <h4>Account ID: {{ account.accountId }}</h4>
      <p>Balance: {{ account.balance }}</p>
      <ul>
        <li *ngFor="let transaction of account.transactions">
          Transaction ID: {{ transaction.transactionId }}, Amount: {{ transaction.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>